<app-menu></app-menu>
<router-outlet></router-outlet>
<footer>
    <div class="voltar-topo">
        <a href="#" onclick="window.scrollTo({top: 0, behavior: 'smooth'}); return false;">Voltar ao Topo ↑</a>
    </div>
    <div class="descricao">
        <p>&copy; 2025 Agendamentos Pet's. All rights reserved.</p>
        <p>Follow us!</p>
    </div>
    <div class="sociais">
        <a href="https://www.instagram.com/caioo.r/" target="_blank"> <img class="botao-social" id="instagram"
                src="/assets/instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/caiorhenrique/" target="_blank"><img class="botao-social" id="linkedin"
                alt="LinkedIn" src="/assets/linkedin.png"></a>
        <a href="https://github.com/CaiioH" target="_blank"><img class="botao-social" id="github"
                src="/assets/github.png" alt="GitHub"></a>
    </div>
    <div class="linha">
        <p></p>
    </div>
    <div class="sobremin">
        <p id="pCaio">❮❯ by <a id="caioh" href="https://github.com/CaiioH?tab=repositories" target="_blank">Caio
                Henrique</a> 2024</p>
        <p class="email">📧 <a id="link" href="mailto:caio.rhenrique@hotmail.com">caio.rhenrique&#64;hotmail.com</a>
        </p>
    </div>
</footer>